header {
  padding: 22px 15px;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100%;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
